:host {
  display: block;
}

.tabs {
  .tab-button {
    transition: all 0.2s ease-in-out;
  }

  .tab-button:hover {
    color: var(--pj-gray-700);
    border-color: var(--pj-gray-300);
  }

  .tab-button.active {
    color: var(--pj-cyan-500);
    border-color: var(--pj-cyan-500);
  }
}

.brand-filter {
  background-color: var(--pj-gray-50);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
